---
import './styles/global.css';
const pageTitle = "Home";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a> <!--This is a Astro feature that allows navigate thru pages -->
        <a href="/about/">About</a>
        <a href="/blog/">blog</a>


		<h1>{pageTitle}</h1>
		<p>This is my page to share with all people about what im learning these days</p>
	</body>
</html>
