---
import Navigation from "./Navigation.astro";
import ThemeIcon from './ThemeIcon.astro';
import Hamburger from "./hamburger.astro";
---

<header><nav> 
    <Hamburger />
    <ThemeIcon />
    <Navigation />
 </nav></header>